body {
    font-family: Arial, sans-serif;
  }
  
  #app {
    margin: 20px;
  }
  
  #actionPanel {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
  }

  body, h1, h2, h3, p, a, button, input {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

.header {
    background-color: #2C3E50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

button {
    background-color: #18BC9C;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
select {
    /* padding: 10px 20px; */
    margin: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #16A085;
}

.card {
    background-color: #ECF0F1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}

.card h2 {
    color: #2C3E50;
}

.card.highlight {
    border-left: 5px solid #F39C12;
}

.interactive {
    cursor: pointer;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.stack-item, .history-item {
    padding: 10px;
    border-bottom: 1px solid #BDC3C7;
}

.stack-item:last-child, .history-item:last-child {
    border-bottom: none;
}

.accent {
    color: #074057;
}

.text-primary {
    color: #333333;
}

.djPlayer {
    margin: auto;
}

.slider-container {
    position: relative;
    /* width: 250px; */
    margin: 30px auto;
}

.slider {
    /* -webkit-appearance: none; */
    width: 40%;
    height: 10px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-label {
    position: absolute;
    top: -30px;
    left: 30%;
    transform: translateX(-50%);
    color: green;
    font-family: Arial, sans-serif;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    border: 2px solid green;
    transition: background 0.3s ease; /* Smooth transition for background */
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    border: 2px solid green;
    transition: background 0.3s ease; /* Smooth transition for background */
}

