<!-- 
    all you have to do here is just click on the button and it will just refresh the page.
    after the refresh it should lead you to a new page.
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEXT >></title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  </head>

  <body>
    <div class="header">
        <h1>NEXT >></h1>
    </div>
    
    <div class="container">
        <!-- Session controls -->
        <div class="card flex">
          <h2 id = "eventId"></h2>
          <input id="songTitle" type="text" placeholder="Enter song title">
          <input id="songArtist" type="text" placeholder="Enter artist">
          <input id="tips" type="text" placeholder="Enter your tips" disabled="disabled">
          <button class="interactive" id="submitRequest" onclick="createRequest()">Submit Request</button>
        </div>
        
        <div>
          <!-- History -->
          <div id="actionPanel" class="card highlight">
              <!-- <h3>Your Requests</h3> -->
          </div>
        </div>
        <!-- Stack -->
        
        
        <!-- Add New Data -->

        
        <button class="interactive accent" type="button" onclick = "endEvent()">End Event</button>
        
    </div>

    <script>
      
      // window.onload = fetchData_user();   
      
      let req_id = []; 
      const room = 'interaction_'+localStorage.getItem('djId_user')+'_'+localStorage.getItem('userId');

      const socket = io.connect('https://' + document.domain + ':' + location.port, { transports: ["websocket"], });

      // console.log(socket);
    

      socket.on('connect', function() {
        console.log('Websocket connected! '+room);
        socket.emit('join', {'room': room, 'access':'user'});
        fetchData_user(); 
      });

      // i removed this because the user starts and end the events, hence he should be the one the server is pinging
      // not the user
      // socket.on('ping', function(data) {
      //   console.log('Ping received:', data);
      //   socket.emit('pong', {'pong': data});
      // });

      socket.on('req_updated',(data)=>{
        console.log(data);
        
        fetchData_user();
        console.log("Update received!"); 

    });

    socket.on('req_created',(data)=>{
        console.log(data);
        
        fetchData_user();
        console.log("creation completed!");
    });

      function createRequest(){

        const song_artist = document.getElementById('songArtist');
        const song_title = document.getElementById('songTitle');

        if(song_artist.value === '' || song_title.value === ''){
          logAction('Please enter the artist and title of the song before submitting. Thank you!');
          return {};
        }

        

        var data = {'room':room, 'user_id':parseInt(localStorage.getItem('userId')), 'song_title':song_title.value, 'song_artist':song_artist.value, 'dj_id': parseInt(localStorage.getItem('djId_user')), 'event_id':parseInt(localStorage.getItem('eventId_user'))};
        console.log(data)
        fetch("{{ url_for('create_request') }}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)  // Convert the JavaScript object to a JSON string
        }).then(response =>{
            let input_title = document.getElementById("songTitle");
            let input_artist = document.getElementById("songArtist");

            input_title.value='';
            input_artist.value='';
            if (!response.ok) throw new Error('Network response was not ok');
            return response.json();
          }).then(data => {
            if ('msg' in data){
              console.error('Error:', data['msg']);
            }
          })
        .catch((error) => {
            console.error('Error:', error);
        });

        // location.reload();

      }

      

      function fetchData_user(){
        dat= {}
        if (localStorage.getItem('eventId_user') && localStorage.getItem('userId')) {
          dat['id'] = localStorage.getItem('eventId_user');
          dat['user_id'] = localStorage.getItem('userId');
        }else{
          console.log("How did you get here? you got no event id or userid");
          return {}
        }
        fetch("{{ url_for('get_data_user') }}" , {
          method: 'POST', // or 'POST', etc.
          headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(dat)
        }).then(response =>{
            if (!response.ok) throw new Error('Network response was not ok');
            return response.json();
          }).then(data => {


              const myNode = document.getElementById("actionPanel");

              while (myNode.firstChild) {
                myNode.removeChild(myNode.lastChild);
              }

              if(Object.keys(data.Requests).length !== 0){

                req_id = data.Requests.id;
                let requests_data = data.Requests.id.map((_, index) => {
                                return Object.keys(data.Requests)
                                .filter(key => ['song_name', 'song_artist', 'ask', 'timestamp'].includes(key))
                                .map(key => `${key}: ${data.Requests[key][index]}`)
                                .join(' , ');
                              });

                console.log(requests_data);

                const session = document.getElementById('actionPanel');
                
                requests_data.forEach((i, idx) => {
                  let request = document.createElement('div');
                  request.setAttribute('class','request');
                  
                  var content = document.createElement('div');
                  content.setAttribute('class','request-content');
                  content.setAttribute('data-id', req_id[idx]);
                  content.textContent = i;

                  var delete_action = document.createElement('div');
                  delete_action.setAttribute('class','swipe-background left-action');
                  delete_action.textContent = 'delete';

                  var play_action = document.createElement('div');
                  play_action.setAttribute('class','swipe-background right-action');
                  play_action.textContent = 'play';

                  request.appendChild(play_action);
                  request.appendChild(content);
                  request.appendChild(delete_action);
                  
                  session.appendChild(request);
                  
                }); 
              }
              
              document.getElementById("eventId").innerHTML = 'Event: ' + data.Event['name'] + '(id: ' + data.Event['id'] + ')';

            })
            .then(()=> swiping())
          .catch(error => console.error('Error fetching items:', error));
      }

      function logAction(action) {
        const actionPanel = document.getElementById('actionPanel');
        const p = document.createElement('p');
        p.textContent = action;
        actionPanel.appendChild(p);
      }


      async function removeRequest(data_id){

        const id = parseInt(data_id);

        data ={'id': id, 'cancel': false, 'room':room};
        fetch("{{ url_for('update_request') }}", {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)  // Convert the JavaScript object to a JSON string
          })
          .catch((error) => {
            console.error('Error:', error);
          });
        

        // location.reload();
        }


      function endEvent(){
        console.log('deletion of request started...')
        send = {'req_id': req_id, 'room':room};
        fetch("{{ url_for('end_session') }}", 
          {
            method: "POST",
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(send),
          }).then(response => 
              {

                if (!response.ok) {
                  throw new Error('Network response was not ok');
                }
                      
                return response.json()
              }).then(data => 
              {
                console.log(data); // Handle the response data, e.g., the transcribed text
              }).catch(err => 
              {
                console.error(err);
              });
        
        
        localStorage.removeItem('eventId_user');
        localStorage.removeItem('djId_user');      
        localStorage.removeItem('userId');

        window.location.href = "{{ url_for('exit') }}";
      }

      function swiping(){

        document.querySelectorAll('.request-content').forEach(item => {
          let startX;
          const threshold = 150; // Minimum swipe distance for an action to occur
          const delet = document.getElementsByClassName("swipe-background")[0];
          const width = delet.offsetWidth;
          // console.log(item.dataset.id);
          // console.log(width);

          item.addEventListener('mousedown', startSwipe, false);
          item.addEventListener('touchstart', startSwipe, false);

          function startSwipe(e) {
            startX = e.type === 'touchstart' ? e.touches[0].clientX : e.clientX;
            this.classList.add('dragging');
            window.addEventListener('mousemove', onSwipe, false);
            window.addEventListener('touchmove', onSwipe, false);
            window.addEventListener('mouseup', endSwipe, false);
            window.addEventListener('touchend', endSwipe, false);
          }

          function onSwipe(e) {
            const x = e.type === 'touchmove' ? e.touches[0].clientX : e.clientX;
            const deltaX = x - startX;
            if (deltaX < 0) { // Swiping left
              item.style.transform = `translateX(${deltaX}px)`;
            } 
          }

          function endSwipe(e) {
            item.classList.remove('dragging');
            const x = e.type === 'touchend' ? e.changedTouches[0].clientX : e.clientX;
            const deltaX = x - startX;
            if (deltaX <= -width) { // Swiped left
              removeRequest(item.dataset.id);
              console.log('Delete action triggered');
              // Add your delete logic here
            } 
            item.style.transform = ''; // Reset position
            window.removeEventListener('mousemove', onSwipe, false);
            window.removeEventListener('touchmove', onSwipe, false);
            window.removeEventListener('mouseup', endSwipe, false);
            window.removeEventListener('touchend', endSwipe, false);
          }
        });

        }


    </script>
  </body>
</html>
