

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEXT >></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  </head>

  <body>
    <div class="header">
        <h1>NEXT >></h1>
    </div>
    
    <div class="container">
        <!-- Session controls -->
        <div class="card flex">
            <p>Add event_id and reload to get the experience :) </p>
            <!-- url?event_id={an event_id} -->
        </div>
    </div>

    <script>
      
      document.addEventListener('DOMContentLoaded', () => {
            const params = new URLSearchParams(window.location.search);
            const eventId = parseInt(params.get('event_id'));
            let userId = '';
            let djId = '';
            
            if (eventId) {
                // Save the eventId to localStorage
                localStorage.setItem('eventId_user', eventId);
                fetchMoviesAndCategories(eventId).then(([a, b]) => {
                    djId = a['id'];
                    userId = b['id']; 
                    localStorage.setItem('userId', userId);
                    localStorage.setItem('djId_user', djId);

                    // Redirect to a new page, e.g., the registration completion page
                    window.location.href = "{{ url_for('user') }}";
                }).catch(error => console.error('Error fetching items:', error));
                

                
            }
            // If no event_id is present in the URL, the page remains static and does nothing
        });

        async function fetchMoviesAndCategories(event_id) {
            const [djResponse, userResponse] = await Promise.all([
                fetch("{{ url_for('get_maindj') }}", {
                    method: 'POST', // or 'POST', etc.
                    headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({'id':event_id})
                    }).then(response =>{
                        if (!response.ok) throw new Error('Network response was not ok');
                        return response.json();
                    }),
                fetch("{{ url_for('create_user') }}", {
                    method: 'POST', // or 'POST', etc.
                    headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({})
                    }).then(response =>{
                        if (!response.ok) throw new Error('Network response was not ok');
                        return response.json();
                    })
            ]);

            return [djResponse, userResponse];
        }


    </script>
  </body>
</html>
